# Entornos
.venv
.venvWSL
venv
venvWSL

# Archivos
*.ini

# Directorio solutions
solutions/*.keras
solutions/*.h5
solutions/*.csv
solutions/*.pdf
!solutions/Apple_Tweets.csv
solutions/*.png
*/datasets/*
*/titanic*/*
*/traffic/*
*/training*/*
*/checkpoint*/*
*/gan_results*/*
!*/gan_results*/gifs/
!*/gan_results*/resultado*/
*/vae_results*/*
!*/vae_results*/gifs/
*/binary_cla*/*
*/lightning*/*
*/saved_models*/*
*/casos_de_estudio*/caso_4/rostros
*/casos_de_estudio*/caso_4/rostros/*
*/logs*/*

# Directorio data
data*/*

# Directorio casos de estudio
# */caso_*/*.csv
# */caso_*/*.xlsx
# */caso_*/*.h5
# */caso_*/*.keras
# */caso_*/*.pkl
