# Entornos
.venv
.venvWSL
venv
venvWSL

# Archivos
*.ini

# Directorio solutions
solutions/*.keras
solutions/*.h5
solutions/*.csv
solutions/*.pdf
!solutions/Apple_Tweets.csv
solutions/*.png
*/datasets/*
*/titanic*/*
*/traffic/*
*/training*/*

# Directorio casos de estudio
# */caso_1/*.csv
# */caso_1/*.xlsx
# */caso_1/*.h5
# */caso_1/*.keras
# */caso_1/*.pkl
